## Variables

In [121]:
a=3
b=a
print(id(a), id(b))

a+=2
a,b,id(a),id(b)

140703978791376 140703978791376

(5, 3, 140703978791440, 140703978791376)

In [122]:
a=[1,2,3]
b=a
print(id(a), id(b))

a+= [4,5,6]
a,b,id(a),id(b)

2081163665544 2081163665544

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], 2081163665544, 2081163665544)

In [123]:
def test1(a): #call by value
    a = 2
    print(id(a))
a=1
print("original:",id(a))
test1(a)
a, id(a)

original: 140703978791312
140703978791344

(1, 140703978791312)

In [124]:
def test2(a): # call by reference
    a.append("World.")
    print(id(a))
a=["Hello"]
print("original:",id(a))
test2(a)
a, id(a)

original: 2081163770440
2081163770440

(['Hello', 'World.'], 2081163770440)

## Basic Variables
- int, float, boolean

In [2]:
a = 100
b = 0b100 #0b 로하면 Binary로 인식 따라서 100 = 4
a,b,int(b),bin(a) #bin(a)로 하면 숫자가 아니라 string으로 나온다!!

(100, 4, 4, '0b1100100')

In [4]:
type(a),type(b),type(bin(a)),hex(3*a)

(int, int, str, '0x12c')

In [6]:
3 is 4, 9 is not 10, a is 100

(False, True, True)

In [9]:
x = [1,2,3]
x.append(10)
x

[1, 2, 3, 10]

In [10]:
y = [1,2,3,10]
y

[1, 2, 3, 10]

In [12]:
x is y, x==y , id(x), id(y)# x is y는 x와y가 같은 객체냐고 물어보는 것!!

(False, True, 2081132560712, 2081130798920)

In [14]:
3 > 4, 13/2, 13%2, 13//2 # division, remainder, integer division

(False, 6.5, 1, 6)

In [17]:
True + True, True*True,True+3, False*5 # True = 1, False = 0

(2, 1, 4, 0)

In [19]:
x,y = 1e6, 1e-3
x,y,x*y,type(x)

(1000000.0, 0.001, 1000.0, float)

In [20]:
# complex numbers
c = 1.5 + 0.7j
c.real, c.imag

(1.5, 0.7)

In [21]:
# input, print
x= input() #input을 받아들일때는 스트링으로 받는다. string상태에서는 연산 불가!!

5

In [24]:
type(x), x, int(x), float(x)

(str, '5', 5, 5.0)

In [27]:
a = [1,2,3,4]
b = 3
b in a, 5 not in a, 5 in a

(True, True, False)

## Container Types
- string, list, tuple, dict
- indexing
- slicing
- iteration

In [29]:
s = "hello" # string이라는 object!!
q = 'hello'
type(s), type(q)

(str, str)

In [30]:
dir(s) # stirng에 대해서 사용할 수 있는 함수들

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
s.capitalize(), s.upper(), s.swapcase()

('Hello', 'HELLO', 'HELLO')

In [34]:
s.isalnum(), s.isalpha(), s.isdigit()

(True, True, False)

In [35]:
s1 = "animals: cat, dog, cat, cat, wow!!"
s2 = 'cat'
s1, s2

('animals: cat, dog, cat, cat, wow!!', 'cat')

In [36]:
s1.find(s2) # 9번째 index부터 있다.

9

In [38]:
s1.index(s2), s1.rfind(s2)

(9, 24)

In [39]:
a = "         Too many space       "
a.strip()

'Too many space'

In [40]:
b = "HELLO"
b.replace("E","e")

'HeLLO'

In [43]:
x = "I am home."
y = x.split(' ')
type(y), y

(list, ['I', 'am', 'home.'])

In [44]:
":".join(['1','2','3'])

'1:2:3'

In [57]:
# indexing and slicing
a = "Hello world!"
print(a[0], a[1], a[-1], a[-2])  
a[:],a[:-1],a[::2],a[2:5], a[2:6], a[0:9:2], type(a[2:5])

H e ! d

('Hello world!', 'Hello world', 'Hlowrd', 'llo', 'llo ', 'Hlowr', str)

In [58]:
a[0] = 'S' #String은 immutable이라서 값을 변경하지 못한다

TypeError: 'str' object does not support item assignment

In [60]:
for x in "Banana": # accessd one-by-one
    print(x)

B
a
n
a
n
a

In [84]:
# list
a = list(range(6))
a[0] = 100 #mutable
a

[100, 1, 2, 3, 4, 5]

In [87]:
a.append(77); a # in-place execution, a라는 객체가 바뀐다!!

[100, 1, 2, 3, 4, 5, 77, 77, 77]

In [88]:
a[::-1], a # a라는 object자체는 안바꼈다!!

([77, 77, 77, 5, 4, 3, 2, 1, 100], [100, 1, 2, 3, 4, 5, 77, 77, 77])

In [94]:
sum(a), max(a), min(a), len(a), any(a), all(a) # 0이 아니면 True 이다

(346, 100, 1, 9, True, True)

In [104]:
a = [1,2,3,4]
b = ['a','b','c','d']
for i in zip(a,b):
    print (i)
    
for i,j in zip(a,b):
    print (i,j)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
1 a
2 b
3 c
4 d

## Sorting

In [116]:
a = [1, 4, 3, 6, 9, 10, 7]
sorted(a), sorted(a, reverse = True)

([1, 3, 4, 6, 7, 9, 10], [10, 9, 7, 6, 4, 3, 1])

In [117]:
n = [1, 4, 3, 6, 9, 10, 7]
n.sort(reverse =True) # in-place function
n.sort()
n

[1, 3, 4, 6, 7, 9, 10]

In [118]:
a[::-1]

[7, 10, 9, 6, 3, 4, 1]

In [119]:
b = reversed(a)
print(type(b))
for i in reversed(a):
    print(i)

<class 'list_reverseiterator'>
7
10
9
6
3
4
1

In [120]:
y = []
for i in reversed(a):
    y.append(i)
    
y

[7, 10, 9, 6, 3, 4, 1]

## Iterable objects 
- string, list, tuples, dict

In [61]:
mytuple = ("apple", "banana", "cherry")
mytuple

('apple', 'banana', 'cherry')

In [64]:
myit = iter(mytuple)
myit, next(myit), next(myit), next(myit)

(<tuple_iterator at 0x1e48f05b5c8>, 'apple', 'banana', 'cherry')

## Common Sequence Function
- list, array, tuple, string (*** not appliccable to dict ***)
- indexing
- slicing

In [73]:
# list
a = list(range(5))
print(a, a[0], a[-1]) # indexing 
a[:3],a[::], a[-1:0], a[-1:0:-1], a[-1::-1], a[::2]

[0, 1, 2, 3, 4] 0 4

([0, 1, 2], [0, 1, 2, 3, 4], [], [4, 3, 2, 1], [4, 3, 2, 1, 0], [0, 2, 4])

In [78]:
b = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
b [0], b[1:], b[0][1], (b[0])[1]

([0, 1, 2], [[3, 4, 5], [6, 7, 8]], 1, 1)

In [77]:
c = (0, 1, 2, 3, 4) # tuple
c[0],c[-1],c[:3]

(0, 4, (0, 1, 2))

In [79]:
for x in b:
    print(x)

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]

In [98]:
# enumerate
a = [1,2,3,4]
for x in a:
    print(x)
    
for idx, x in enumerate(a,0):
    print(idx,x)
    
for idx, x in enumerate(a,20):
    print(idx,x)

1
2
3
4
0 1
1 2
2 3
3 4
20 1
21 2
22 3
23 4

In [82]:
x = ["apple", "banana", "cherry"]
for a in x:
    print(a)

apple
banana
cherry

In [83]:
x.append("dog")
x

['apple', 'banana', 'cherry', 'dog']